a,p,h1,h2,h3,h4,h5,h6,body,span,label,div{padding:0;margin:0;font-family:'瀵邦喛钂嬮梿鍛寸拨';}
div{font-family:'瀵邦喛钂嬮梿鍛寸拨';}
ul{padding:0;margin:0;}
a{text-decoration:none !important;}
.clear{clear:both;}
html, body, form{overflow-y:auto;height:100%;}


@font-face{
	font-family: yjsz;
	src:url('../fonts/yjsz.TTF'),
		url('../fonts/yjsz.eot'); /* IE9+,可以是具体的实际链接 */
	}


/* 背景颜色 */
/* .ksh{height:100%;padding:15px;background:url(../images/data08.png) no-repeat #fdfdfe;background-size:cover;overflow:hidden;position:relative;z-index:-2;} */



.visual{height:100%;}


/* 左边 */
.visual_left{width:60%;height:100%; float:left;}
.visual_left .visual_left_top{width:99%;height:69%;border:1px solid #345f92;}
.visual_left .visual_left_top .visual_title{position:relative;height:50px;margin:5px 0;}
.visual_left .visual_left_top .visual_title span{color:rgb(8, 8, 8);font-size:18px;line-height:35px;}
.visual_left .visual_left_top .visual_title img{width:100%;position:absolute;left:0;bottom:0;}
.visual_left .visual_left_top .visual_chart{height:100%;}
.visual_left .visual_left_bot{width:99%;height:29%;border:1px solid #345f92;}
.visual_left .visual_left_bot .visual_bot_box1{width:70%;float:left;height:100%;}
.visual_left .visual_left_bot .visual_bot_box1 .visual_chart{height:100%;}
.visual_left .visual_left_bot .visual_bot_box2{width:30%;float:left;height:100%;}
.visual_left .visual_left_bot .visual_bot_box2 .visual_chart{height:100%;}

/* 右边 */
.visual_right{width:40%;height:100%;float:right;}
.visual_right .visual_right_box{width:99%;height:49%;border:1px solid #345f92;}
.visual_right .visual_right_box .visual_chart{height:100%;}